@-webkit-keyframes content-move-right
  from
    margin-left: 0px
  to
    margin-left: 478px

@-webkit-keyframes content-move-left
  from
    margin-left: 478px
  to
    margin-left: 0px

@-webkit-keyframes hide-menu
  from
    left: 0px
  to
    left: -478px

@-webkit-keyframes show-menu
  from
    left: -478px
  to
    left: 0px


.hide-new-menu
  animation: hide-menu 400ms
  -webkit-animation: hide-menu 400ms
  animation-fill-mode: forwards
  -webkit-animation-fill-mode: forwards
.show-new-menu
  animation: show-menu 1s
  -webkit-animation: show-menu 1s
  animation-fill-mode: forwards
  -webkit-animation-fill-mode: forwards

.move-content-right
  animation: content-move-right 400ms
  -webkit-animation: content-move-right 400ms
  animation-fill-mode: forwards
  -webkit-animation-fill-mode: forwards

.move-content-left
  animation: content-move-left 400ms
  -webkit-animation: content-move-left 400ms
  animation-fill-mode: forwards
  -webkit-animation-fill-mode: forwards

.new-menu
  height: $display-height
  width: 478px
  position: absolute
  top: 0px
  left: -478px
  //left: -0px
  background: white
  z-index: 1
  -webkit-box-shadow: inset 0px 0px 14px 0px rgba(50, 50, 50, 0.15)
  -moz-box-shadow:    inset 0px 0px 14px 0px rgba(50, 50, 50, 0.15)
  box-shadow:         inset 0px 0px 14px 0px rgba(50, 50, 50, 0.15)
  a
    display: block
    height: 180px
    width: 100%
    line-height: 180px
    font-size: 28px
    color: $dark-font
    padding-left: 180px
    background-repeat: no-repeat
    background-size: contain
    background-position-x: 25px
    box-sizing: border-box
  .menu-logo
    background-image: url('images/logo.png')
    width: 330px
    height: 72px
    margin-left: 30px
    margin-top: 150px
    display: block
    padding: 0

.main-menu
  position: absolute
  background-color: #ffffff
  width: $menu-width
  height: $menu-height
  font-size: 29px
  vertical-align: middle
  border-right: 2px solid $light-light-gray
  a
    display: list-item
    list-style: none
    padding-top: 250px
    text-align: center
    background-repeat: no-repeat
    background-position: center
    vertical-align: bottom

.pages-menu
  position: absolute
  background-color: #ffffff
  width: $menu-width-small
  height: $menu-height - $header-height
  margin-top: $header-height
  font-size: 29px
  vertical-align: middle
  border-right: 2px solid $light-light-gray
  left: -180px
  a
    display: list-item
    list-style: none
    padding-top: 215px
    text-align: center
    background-repeat: no-repeat
    background-position: center
    vertical-align: bottom
    background-size: 150px 200px
  a.logo
    padding-top: 60px
    background-image: url('images/logo_short.png')
    background-size: contain
    margin-top: 10px


a.objects-menu-item
  background-image: url('images/objects-menu.png')

a.objects-menu-item.active
  background-image: url('images/objects-menu-active.png')

a.material-menu-item
  background-image: url('images/material-menu.png')

a.material-menu-item.active
  background-image: url('images/material-menu-active.png')

a.empl-menu-item
  background-image: url('images/empl-menu.png')

a.empl-menu-item.active
  background-image: url('images/empl-menu-active.png')

a.tech-menu-item
  background-image: url('images/tech-menu.png')

a.tech-menu-item.active
  background-image: url('images/tech-menu-active.png')

a.avto-menu-item
  background-image: url('images/avto-menu.png')

a.avto-menu-item.active
  background-image: url('images/avto-menu-active.png')