

.filter-side
  padding-top: 20px
.filter-row
  font-size: 26px
  color:  $dark-gray
  position: relative
  line-height: 50px
  .switchery
    float: right
    margin-right: 20px
  label
    position: absolute
    top: -17px
    right: 5px

.left-content
  padding: 10px
  box-sizing: border-box
  margin-bottom: 0px
  padding-left: 185px
.objects-search-wrapper
  float: left
  width: 630px
  //float: right

.object-search-result
  .object-item
    width: 380px
    margin: 5px
    border: 1px solid $light-gray
    height: 460px
    float: left
    //.object-item-map
    //  width: 100%
    //  height: 360px
    //  background-image: url("images/map.png")
    //  background-repeat: no-repeat
    //  background-size: cover
    //.object-item-info
    //  height: 70px

.object-search-result-header span:first-child, .object-search-result a span:first-child
  width: 100%
  text-align: left

.object-search-result-header span:last-child, .object-search-result a span:last-child
  min-width: 140px
  text-align: center

.object-search-result
  float: left
  a
    font-size: 30px
    color: $dark-font
    border-bottom: 2px solid $super-light-gray
    height: 80px
    line-height: 80px
    padding-right: 30px
    padding-left: 10px
    display: inline-block

    span
      display: table-cell

#objects_map
  float: right
  width: 600px
  height: 1300px
  .leaflet-popup-content
    a
      font-size: 26px
      color: $dark-font

#object_view
  .left-content
    padding: 0px
    padding-left: 180px
    margin-bottom: 0
    width: 100%
  .object-tabs
    padding: 0 230px
  .budget-content
    #material_budget_chart, #finance_budget_chart
      width: ($display-width - $menu-width-small) / 2 - 20px
      float: left
      height: 880px
      margin-top: 5px
      margin-right: 3px
      margin-left: 3px
    .shadow-devider
      width: 100%
      min-height: 12px
      margin-bottom: 12px
      float: left
    #material_finance_chart
      width: 1760px
      height: 400px
      float: left
      margin: 0 20px


  .object-info
    background-color: rgba(255,255,255, .9)
    margin-top: 420px
    color: $light-gray
    box-sizing: border-box
    font-size: 40px
    h1
      text-align: center
      text-transform: uppercase
      font-size: 36px
      margin-top: 60px
    .common-info-part
      border-top: 2px solid $light-light-gray
      border-bottom: 2px solid $light-light-gray
      background-color: #ffffff
      min-height: 90px
      line-height: 90px
      text-transform: uppercase
      font-weight: lighter
      font-size: 32px
      .info-column
        width: 33%
        display: inline-block
        text-align: center
        .info-icon
          color: $orange-color
    .time-info-part
      height: 340px
      padding: 0 35px
      .info-column
        width: 100%
        display: inline-block
        text-align: center
        text-transform: uppercase
        padding-top: 40px
        .object-lag
          color: rgb(195, 26, 26)
      .progress-bar
        min-height: 30px
        border-radius: 5px
        margin-top: 80px
        .progress-part
          background-color: $light-light-gray
          min-height: 30px
          float: left
          box-sizing: border-box
        .progress-part.complete
          border-left: 2px solid $light-gray
          background-color: $orange-color
          &:after
            content: ""
            border-top: 15px solid #f17e30
            border-left: 7px solid transparent
            border-right: 7px solid transparent
            position: relative
            display: block
            width: 15px
            top: -15px
            box-sizing: border-box
            float: right
            right: -7px
        .progress-part.not-complete
          border-right: 2px solid $light-gray
        .date-start
          border-left: 2px solid $light-gray
          font-size: 24px
          padding-left: 20px
          padding-top: 10px
        .date-end
          border-right: 2px solid $light-gray
          font-size: 24px
          padding-right: 20px
          padding-top: 10px
    .info-part
      height: 418px
    .directors-info-part, .plan-info-part
      width: 50%
      float: left
      font-size: 26px
      .object-info-content
        line-height: 55px
      .info-row
        padding-left: 220px
      .info-icon
        font-size: 55px
        min-width: 90px
        display: inline-block
        text-align: center


  .map-wrapper
    width:  $display-width - $menu-width-small
    height: 1330px
    position: absolute
    z-index: -10
    top: 206px
  #object_map
    width: 100%
    height: 100%

    //float: left

  .material-content
    padding: 30px 30px 3px 30px
    .controls
      width: 100%
      .search > div
        width: 1060px
        float: left
      .dates
        font-size: 26px
        color: $light-gray
        line-height: 70px
        float: right
        input
          height: 50px
          font-family: "PT Sans", sans-serif
          color: inherit
          font-size: inherit
          padding-left: 20px
          width: 200px
    .material-table
      margin-top: 50px
      .list-header
        span
          text-align: center
          line-height: 60px
        span:first-child
          min-width: 820px
          text-align: left
        span:nth-child(1n+2)
          min-width: 245px
      .materials-table-content
        height: 1150px
        color: #71787f
        font-size: 30px
        overflow-y: scroll
        overflow-x: hidden
        .material-table-row
          border-bottom: 4px solid $light-gray
          .notation
            width: 100%
            border-left: 6px solid $orange-color
            padding-left: 5px
            line-height: 70px
            border-bottom: 2px solid $light-light-gray
            box-sizing: border-box
          .material-spends
            margin-left: 830px
            .material-row
              border-bottom: 2px solid $light-light-gray
              &:last-child
                border-bottom: 0px
              span
                min-width: 245px
                text-align: center
                display: table-cell
                line-height: 70px


  .chart-control
    height: 70px
    line-height: 70px
    text-transform: uppercase
    color: $dark-font
    border-top: 2px solid $light-light-gray
    div
      display: table-cell
      font-size: 30px
    .current-month, .current-year
      width: 100%
      text-align: center
      & > div
        vertical-align: top
        display: inline-block
        margin: 0
        & > div
          padding: 0
          padding-right: 30px
          background-image: url("images/schevron_down_icon.png")
          background-repeat: no-repeat
          background-position: right
        &:after
          content: ''
    .left-arrow
      padding-left: 100px
    .right-arrow
      padding-right: 100px



