

.filter-side
  padding-top: 20px
.filter-row
  font-size: 26px
  color:  $dark-gray
  position: relative
  line-height: 50px
  .switchery
    float: right
    margin-right: 20px
  label
    position: absolute
    top: -17px
    right: 5px

.left-content
  padding: 10px
  box-sizing: border-box
  margin-bottom: 0px
  padding-left: 185px
.objects-search-wrapper
  float: left
  width: 630px
  //float: right

.object-search-result
  .object-item
    width: 380px
    margin: 5px
    border: 1px solid $light-gray
    height: 460px
    float: left
    //.object-item-map
    //  width: 100%
    //  height: 360px
    //  background-image: url("images/map.png")
    //  background-repeat: no-repeat
    //  background-size: cover
    //.object-item-info
    //  height: 70px

.object-search-result-header span:first-child, .object-search-result a span:first-child
  width: 100%
  text-align: left

.object-search-result-header span:last-child, .object-search-result a span:last-child
  min-width: 140px
  text-align: center

.object-search-result
  float: left
  a
    font-size: 30px
    color: $dark-font
    border-bottom: 2px solid $super-light-gray
    height: 80px
    line-height: 30px
    padding-right: 30px
    padding-left: 10px
    display: inline-block

    span
      display: table-cell
      vertical-align: middle
      height: 80px

#objects_map
  float: right
  width: 600px
  height: 1300px
  .leaflet-popup-content
    a
      font-size: 26px
      color: $dark-font

#object_view
  .left-content
    padding: 0px
    padding-left: 180px
    margin-bottom: 0
    width: 100%
  .object-tabs
    padding: 0 50px
  .budget-content
    #material_budget_chart, #finance_budget_chart
      width: ($display-width - $menu-width-small) / 2 - 20px
      float: left
      height: 880px
      margin-top: 5px
      margin-right: 3px
      margin-left: 3px
    .shadow-devider
      width: 100%
      min-height: 12px
      margin-bottom: 12px
      float: left
    #material_finance_chart
      width: 1760px
      height: 400px
      float: left
      margin: 0 20px


  .object-info
    background-color: rgba(255,255,255, .9)
    margin-top: 420px
    color: $light-gray
    box-sizing: border-box
    font-size: 40px
    h1
      text-align: center
      text-transform: uppercase
      font-size: 36px
      margin-top: 60px
    .common-info-part
      border-top: 2px solid $light-light-gray
      border-bottom: 2px solid $light-light-gray
      background-color: #ffffff
      min-height: 90px
      line-height: 90px
      text-transform: uppercase
      font-weight: lighter
      font-size: 32px
      .info-column
        width: 33%
        display: inline-block
        text-align: center
        .info-icon
          color: $orange-color
    .time-info-part
      height: 340px
      padding: 0 35px
      .info-column
        width: 42%
        display: inline-block
        text-align: center
        text-transform: uppercase
        padding-top: 80px
        font-size: 32px
        float: left
        &.object-lag
          .info-icon
            color: $orange-color
      .progress-bar
        min-height: 30px
        border-radius: 5px
        margin-top: 80px
        .progress-part
          background-color: $light-light-gray
          min-height: 30px
          float: left
          box-sizing: border-box
        .progress-part.complete
          border-left: 2px solid $light-gray
          background-color: $orange-color
          &:after
            content: ""
            border-top: 15px solid #f17e30
            border-left: 7px solid transparent
            border-right: 7px solid transparent
            position: relative
            display: block
            width: 15px
            top: -15px
            box-sizing: border-box
            float: right
            right: -7px
        .progress-part.not-complete
          border-right: 2px solid $light-gray
        .date-start
          border-left: 2px solid $light-gray
          font-size: 24px
          padding-left: 20px
          padding-top: 10px
        .date-end
          border-right: 2px solid $light-gray
          font-size: 24px
          padding-right: 20px
          padding-top: 10px
    .info-part
      height: 418px
    .directors-info-part, .plan-info-part
      width: 50%
      float: left
      font-size: 26px
      .object-info-content
        line-height: 55px
      .info-row
        padding-left: 220px
      .info-icon
        font-size: 55px
        min-width: 90px
        display: inline-block
        text-align: center


  .map-wrapper
    width:  $display-width - $menu-width-small
    height: 1330px
    position: absolute
    z-index: -10
    top: 206px
  #object_map
    width: 100%
    height: 100%

  .plan-content
    padding: 30px 30px 3px 30px
    .plan-table-header
      padding-left: 0
      span
        text-align: center
      span:first-child
        min-width: 1000px
        text-align: left
        padding-left: 100px
      span:nth-child(1n+2)
        min-width: 350px
    .plan-table-content
      max-height: 1200px
      overflow-y: scroll
      .plan-item
        border-bottom: 4px solid $light-gray
      .plan-part, .plan-subpart
        //height: 70px
        font-size: 30px
        color: $light-gray
        font-weight: lighter
        span
          display: table-cell
          vertical-align: middle
          height: 70px
          text-align: center
          box-sizing: border-box
        span:first-child
          padding-left: 10px
          min-width: 1100px
          text-align: left
        span:nth-child(1n+2)
          min-width: 350px

      .plan-part
        border-left: 6px solid $orange-color
        border-bottom: 2px solid $light-light-gray
        span:last-child
          padding-left: 80px
          box-sizing: border-box
          background-repeat: no-repeat
          background-position: 45px 10px
          &.completed
            background-image: url("images/step_complete.png")
          &.completed-intime
            background-image: url("images/step_complete_intime.png")
          &.completed-overdue
            background-image: url("images/step_complete_overdue.png")
          &.inprogress
            background-image: url("images/step_inprogress.png")
          &.inprogress-overdue
            background-image: url("images/step_inprogress_overdue.png")
      .plan-subpart
        border-bottom: 2px solid $light-light-gray
        margin-left: 120px
        &:last-child
          border-bottom: none
        span:first-child
          min-width: 985px


  .material-content
    padding: 30px 30px 3px 30px
    .controls
      width: 100%
      .search > div
        width: 1060px
        float: left
      .dates
        font-size: 26px
        color: $light-gray
        line-height: 70px
        float: right
        input
          height: 50px
          font-family: "PT Sans", sans-serif
          color: inherit
          font-size: inherit
          padding-left: 20px
          width: 200px
    .material-table
      margin-top: 50px
      .list-header
        span
          text-align: center
          line-height: 60px
        span:first-child
          min-width: 820px
          text-align: left
        span:nth-child(1n+2)
          min-width: 245px
      .materials-table-content
        height: 1150px
        color: #71787f
        font-size: 30px
        overflow-y: scroll
        overflow-x: hidden
        .material-table-row
          border-bottom: 4px solid $light-gray
          .notation
            width: 100%
            border-left: 6px solid $orange-color
            padding-left: 5px
            line-height: 70px
            border-bottom: 2px solid $light-light-gray
            box-sizing: border-box
          .material-spends
            margin-left: 830px
            .material-row
              border-bottom: 2px solid $light-light-gray
              &:last-child
                border-bottom: 0px
              span
                min-width: 245px
                text-align: center
                display: table-cell
                line-height: 70px


  .storage-content
    padding: 30px 30px 3px 30px
    .controls
      width: 100%
      .search > div
        width: 100%
        float: left
    .storage-table
      margin-top: 50px
      .list-header
        height: inherit
        span
          display: table-cell
          text-align: center
          vertical-align: middle
          //line-height: 60px
        span:first-child
          min-width: 1300px
          text-align: left
        span:nth-child(1n+2)
          min-width: 245px
      .storage-table-content
        height: 1120px
        color: #71787f
        font-size: 30px
        overflow-y: scroll
        overflow-x: hidden
        .storage-row
          padding-left: 10px
          height: 70px
          border-bottom: 2px solid $light-light-gray
          &:last-child
            border-bottom: none
        span
          display: table-cell
          text-align: center
          vertical-align: middle
          height: 70px
        span:first-child
          min-width: 1300px
          max-width: 1300px
          text-align: left
        span:nth-child(1n+2)
          min-width: 245px

  .chart-control
    height: 70px
    line-height: 70px
    text-transform: uppercase
    color: $dark-font
    border-top: 2px solid $light-light-gray
    div
      display: table-cell
      font-size: 30px
    .current-month, .current-year
      width: 100%
      text-align: center
      & > div
        vertical-align: top
        display: inline-block
        margin: 0
        & > div
          padding: 0
          padding-right: 30px
          background-image: url("images/schevron_down_icon.png")
          background-repeat: no-repeat
          background-position: right
        &:after
          content: ''
    .left-arrow
      padding-left: 100px
    .right-arrow
      padding-right: 100px

  .requests-content
    .controls
      padding-bottom: 10px
    .dates
      font-size: 26px
      color: $light-gray
      line-height: 70px
      float: right
      margin-right: 20px
      input
        height: 50px
        font-family: "PT Sans", sans-serif
        color: inherit
        font-size: inherit
        padding-left: 20px
        width: 200px
    .filters
      float: right
      color: $light-gray
      input
        display: none
      label
        font-size: 30px
        font-weight: bold
        //text-transform: uppercase
        vertical-align: middle
        display: table-cell
        margin: 0
        height: 60px
        background-repeat: no-repeat
        background-position: left center
        padding-left: 50px
        padding-right: 45px

      input:checked+label
        background-image: url('images/tf-header-checked.png')

      input+label
        background-image: url('images/tf-unchecked.png')
    .search > div
      width: 400px
      margin-top: 10px
      margin-left: 20px

    .requests-table-content
      margin-right: 20px
      margin-left: 20px
      overflow-y: scroll
      height: 1200px
      width: 1828px

    .request
      font-size: 30px
      color: $light-gray
      margin-top: 20px
      .request-header
        display: block
        border-left: 10px solid $orange-color
        border-bottom: 2px solid #D7DBDF
        border-top: 4px solid
        padding-left: 20px
        min-height: 60px
        span
          display: table-cell
          height: 60px
          vertical-align: middle

        span:first-child
          width: 850px
        span:nth-child(0n+2)
          width: 250px
        span:nth-child(0n+3)
          width: 250px
        span:nth-child(0n+4)
          width: 250px
        span:last-child
          width: 250px
      .request-part
        display: block
        margin-left: 300px
        min-height: 60px
        border-bottom: 2px solid #D7DBDF
        &:last-child
          border-bottom: 0px
        span
          display: table-cell
          height: 60px
          vertical-align: middle
        span:first-child
          width: 350px
        span:nth-child(0n+2)
          width: 250px
        span:nth-child(0n+3)
          width: 750px
        span:last-child
          width: 250px

  .request_details
    color: $dark-font
    .close-button
      font-size: 40px
      position: absolute
      top: 215px
      left: 1975px
      padding: 10px
    h1,h2
      text-align: center
    .request-detail-table
      padding-left: 20px
      padding-right: 20px
      overflow-y: scroll
      max-height: 1200px
      .request
        font-size: 30px
        color: $light-gray
        margin-top: 40px
      .request-part-header
        display: block
        border-left: 10px solid $orange-color
        border-bottom: 2px solid #D7DBDF
        padding-left: 20px
        min-height: 60px
        span
          display: table-cell
          height: 60px
          vertical-align: middle

        span:first-child
          width: 650px
        span:nth-child(0n+2)
          width: 900px
        span:last-child
          width: 350px
      .request-part-row
        display: block
        margin-left: 300px
        min-height: 60px
        border-bottom: 2px solid #D7DBDF
        span
          display: table-cell
          height: 60px
          vertical-align: middle
        span:first-child
          width: 650px
        span:nth-child(0n+2)
          width: 250px
        span:nth-child(0n+3)
          width: 450px
        span:last-child
          width: 250px