

.filter-side
  padding-top: 20px
.filter-row
  font-size: 26px
  color:  $dark-gray
  position: relative
  line-height: 50px
  .switchery
    float: right
    margin-right: 20px
  label
    position: absolute
    top: -17px
    right: 5px

.left-content
  padding: 10px
  box-sizing: border-box
  margin-bottom: 0px
.objects-search-wrapper
  float: left
.object-search-result
  .object-item
    width: 460px
    margin: 5px
    border: 1px solid $light-gray
    height: 460px
    float: left
    //.object-item-map
    //  width: 100%
    //  height: 360px
    //  background-image: url("images/map.png")
    //  background-repeat: no-repeat
    //  background-size: cover
    //.object-item-info
    //  height: 70px

.object-search-result-header span:first-child, .object-search-result a span:first-child
  width: 100%
  text-align: left

.object-search-result-header span:last-child, .object-search-result a span:last-child
  min-width: 140px
  text-align: center

.object-search-result
  float: left
  a
    font-size: 30px
    color: $dark-font
    border-bottom: 2px solid $super-light-gray
    height: 80px
    line-height: 80px
    padding-right: 30px
    padding-left: 10px
    display: inline-block

    span
      display: table-cell

#objects_map
  float: right
  width: 700px
  height: 1300px



#object_view
  .right-content, .left-content
    padding: 0
    margin-bottom: 0
  .object-tabs
    padding: 0 230px
  .object-chart
    width: 100%
    margin-top: 30px
  #consumption_chart
    height: 780px
    border-bottom: 2px solid $light-light-gray
    box-sizing: border-box
  #budget_chart
    height: 300px
    width: 100%
    border-bottom: 2px solid $light-light-gray
    box-sizing: border-box

  .object-info
    width: 100%
    height: 190px
    padding-left: 30px
    box-sizing: border-box
    h1
      text-transform: uppercase
      color: $dark-font
      line-height: 85px
      font-size: 32px
      text-align: center
      margin: 0px
    .info-part
      display: inline-block
      color: $dark-font
      font-size: 26px
      text-align: left
      width: 700px
      margin-top: 10px
      h4
        font-weight: bold
        margin: 0
    .info-part:first-of-type, .info-part:last-of-type
      width: 350px

  #object_map
    width: 100%
    height: 100%

  .chart-control
    height: 70px
    line-height: 70px
    text-transform: uppercase
    color: $dark-font
    border-top: 2px solid $light-light-gray
    div
      display: table-cell
      font-size: 30px
    .current-month, .current-year
      width: 100%
      text-align: center
      & > div
        vertical-align: top
        display: inline-block
        margin: 0

        & > div
          padding: 0
          padding-right: 30px
          background-image: url("images/schevron_down_icon.png")
          background-repeat: no-repeat
          background-position: right
        &:after
          content: ''
    .left-arrow
      padding-left: 100px
      //float: left
    .right-arrow
      //float: right
      padding-right: 100px



